.flowbg {
  background-color: cc;
}

.input-prompt-div {
  width: 40vh;
  height: 20vh;
}

.bg-blur {
  backdrop-filter: blur(5px);
}

.divStyles {
  width: 400px;
  height: 400px;
  background-color: #282425;
  border: 2px solid#45DEDE;
  border-radius: 6px;
  color: #45dede;
  margin-right: 57px;
  margin-bottom: 13vh;

  padding: "8px";
}

.textStyles {
  background-color: #282425;
  color: #45dede;
}
.input-text-styles {
  color: black;
  width: 41rem;
  height: 20rem;
}

.input-text-styles-output {
  color: black;
  width: 41rem;
  height: 22rem;
}
.selectstyles {
  background: linear-gradient(to left, #087ee1, #05e8ba);

  width: 23rem;
  border: none;
  border: 1px solid white;
  height: 3.5rem;
  color: #282425;
  font-weight: bold;
}

.selectstyles:hover {
  background: linear-gradient(to left, #087ee1, #05e8ba);
  width: 25rem;
  height: 3.5rem;
  font-weight: bold;
  border: 1px solid white;
}
.selectstyles:focus {
  background: linear-gradient(to left, #087ee1, #05e8ba);
  width: 25rem;
  height: 3.5rem;
  font-weight: bold;
  border: 1px solid white;
}

.compile {
  width: 20rem;
}

.gradient-button {
  background: linear-gradient(to left, #087ee1, #05e8ba);
  border: 1px solid transparent;
  color: #1e293b;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  font-weight: bold;
}

.gradient-button:hover {
  background: linear-gradient(
    to left,
    #05e8ba,
    #087ee1
  ); /* Add your desired gradient colors here */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.send-btn {
  margin-left: 13rem;
}

.input-cmd {
  height: 25rem;
}

.output-cmd {
  height: 32rem;
}
